<div class="container p-5">

    <div class="imagen">
        <img src="./assets/img/1.png" width="70%" class="mb-5 mx-auto rounded-lg ">
        <div class="linea border border-white"></div>
    </div>  

    <div class="perfil mt-3 px-2">

        <h1 class="font-mono text-2xl  font-bold uppercase text-white">Perfil</h1>
        <p class="parrafo font-mono text-base text-white">
            Bachiller de la carrera de Ingeniería de Informática de la Universidad Nacional de Piura, perteneciente al tercio superior de la facultad.
        </p>
        <p class="parrafo font-mono text-base mt-2 text-white">
            Persona responsable, innovador, creativo y con iniciativa, asumo con agrado y cumplo los retos y metas planteadas; con buen manejo de relaciones interpersonales, facilidad para trabajar en equipo, en condiciones de alta presión, así como para resolver problemas
        </p>
    </div>
    <div class="linea border border-white mt-2"></div>

    <div class="contacto mt-3 px-2 text-white ">

        <h1 class="font-mono text-2xl font-bold uppercase text-white">contacto</h1>
        <p class="font-mono  text-xl mx-5 my-2">
            <i class="bi bi-telephone-fill mr-2 text-white"></i> +51 917 878 940
        </p>
        <p class="font-mono  text-xl mx-5 my-2">
            <i class="bi bi-geo-alt-fill mr-2 text-white"></i> Piura, Perú
        </p>
        <p class="font-mono  text-xl mx-5 my-2" >
            <i class="bi bi-envelope-at-fill mr-2 text-white" ></i> 
            <!-- <a href="saavedraerazoc@gmail.com" target="_blank"> </a> -->
            saavedraerazoc@gmail.com
        </p>
        <p class="font-mono  text-xl mx-5 my-2">
            <i class="bi bi-github mr-2 text-white"></i> 
            <a href="https://github.com/Saavedra98?tab=repositories" target="_blank"> https://github.com/Saavedra98</a> 
        </p>
    
        <p class="font-mono  text-xl mx-5 my-2">
            <i class="bi bi-globe2 mr-5 text-white"></i> 
            <a href="https://saavedraerazocristhian.web.app/home" target="_blank">saavedraerazocristhian.web.app</a> 
        </p>
    

    </div>


    <div class="linea border border-white mt-2"></div>

    <div class="contacto mt-3 text-white px-2">

        <h1 class="font-mono text-2xl font-bold uppercase">Aficiones</h1>
        <ul class="list-disc" *ngFor="let aficion of aficiones">
            <li class="font-mono text-xl mx-11">{{aficion}}</li>
        </ul>
    </div>
    <div class="linea border border-white mt-2"></div>
    <div class="contacto mt-3 px-2 text-white">

        <h1 class="font-mono text-2xl font-bold uppercase">Habilidades Personales</h1>
        <ul class="list-disc " *ngFor="let personales of habilidadesPersonales">
            <li class="font-mono text-xl mx-11">{{personales}}</li>
        </ul>
    </div>
    <div class="linea border border-white mt-2"></div>

    <div class="boton  mt-5  ">

        <button class="rounded-lg text-xl font-mono px-5 py-2 bg-green-700 hover:bg-green-900 hover:font-bold my-2 ml-36 text-white "><a download="CV - Saavedra Erazo Cristhian" 
            href="./assets/img/CV-SaavedraErazoCristhian.pdf">  Descargar CV   <i class="bi bi-filetype-pdf"></i> </a> </button>
    </div>

</div>
