<div class="container p-4">

    <h1 class="font-mono text-7xl text-center font-bold text-blue-900 ">Saavedra Erazo Cristhian Alonso </h1>

    <div class="datos flex flex-row-reverse mt-2">

        <p class="font-mono text-3xl text-blue-900 font-medium px-4 ">
            <span class="uppercase">Edad:</span> 24 años</p>
    </div>
    <div class="datos flex flex-row-reverse mt-2">
        <p class="font-mono text-3xl text-blue-900 font-medium px-4 ">
            <span class="uppercase">Dni:</span> 71077408</p>
    </div>

    <div class="linea border border-blue-900 mt-2"></div>

</div>
