<div class="container  px-5 py-2 w-full rounded-lg">

    <div class="educacion">

        <h1 class="font-mono text-3xl uppercase font-bold text-blue-900">Aptitudes </h1>

        <div class="seccion mt-2 ml-5" *ngFor="let aptitud of aptitudes">
            
            <div class="skills">
                <div class="detalles">
                    <span class="font-mono text-xl font-bold text-blue-900 uppercase">{{aptitud[0]}}</span>
                    <span class="font-mono text-xl font-bold text-blue-900">{{aptitud[1]}}</span>
                </div>

                <div class="menu">
                    <div id="{{aptitud[2]}}"></div>
                </div>
            </div>
        </div>

        <div class="linea border border-black mt-8"></div>
    </div>

</div>