<div class="container  px-5 py-2 w-full rounded-lg">

    <div class="educacion">

        <h1 class="font-mono text-3xl uppercase font-bold text-blue-900">Educación</h1>

        <div *ngFor="let edu of educacion">
            <div class="seccion mt-2 ml-5">
                <h1 class="font-mono text-2xl font-bold text-blue-900">{{edu[0]}}</h1>
                <p class="font-mono text-xl ">{{edu[1]}}</p>
                <p class="font-mono text-xl ">{{edu[2]}}</p>
            </div>
        </div>

        <div class="linea border border-black mt-2"></div>
    </div>

    <div class="experiencia mt-3">

        <h1 class="font-mono text-3xl uppercase font-bold text-blue-900">Experiencia</h1>

        <div class="seccion mt-2 ml-5">
            <h1 class="font-mono text-2xl font-bold text-blue-900 uppercase">Prodef Sac</h1>
            <p class="font-mono text-xl ">Auxiliar de Informática</p>
            <p class="font-mono text-xl ">[Marzo 2022 - Septiembre 2022]</p>
            <p class="font-mono text-xl "> Practicante del área de informática: </p>

            <ul class="list-disc" *ngFor="let tarea of tareas">
                <li class="font-mono text-lg mx-11">{{tarea}}</li>
            </ul>
        </div>

    </div>



</div>