<div class="menu rounded-lg px-4 py-1 flex  ">

    <ul class="flex flex-row mx-auto py-5 px-3 color shadow-lg shadow-gray-500 text-white">

        <li class="py-3 rounded-lg px-2 mr-2 " routerLinkActive=" text-black bg-white shadow-lg shadow-gray-500 uppercase font-black">
            <a class="p-5 text-xl font-mono py-2 font-bold  " routerLink="/home">Educación</a>
        </li>
        <li class="py-3 rounded-lg px-2  mr-2" routerLinkActive="text-black bg-white  shadow-lg shadow-gray-500 uppercase font-black">
            <a class="p-5 text-xl font-mono py-2 font-bold " routerLink="/certificados">Cerficados</a>
        </li>
        <li class="py-3 rounded-lg px-2 mr-2" routerLinkActive="text-black bg-white shadow-lg shadow-gray-500 uppercase font-black">
            <a class="p-5 text-xl font-mono py-2 font-bold " routerLink="/aptitudes">Aptitudes</a>
        </li>
        <li class="py-3 rounded-lg px-2 " routerLinkActive="text-black bg-white  shadow-lg shadow-gray-500  uppercase font-black">
            <a class="p-5 text-xl font-mono py-2 font-bold " routerLink="/proyectos">Proyectos</a>
        </li>
        
    </ul>

</div>